.container {
    display: grid;
    grid-template-columns: 50% 40% 10%;
}
.media {
    color:black;
}
.media img {
    max-width: 100%;
    height: auto;
}
.text {
    color:red;
}
.navbar {
    color:black;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}