.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.media {
    border:1pt;
}
.media img {
    width:33vw;
    height:100vh;
}
.text {
    color:red;
}
.navbar {
    color:black;
}