.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.media {
    color:black;
}
.media img {
    width:33vw;
    height:100vh;
}
.text {
    color:red;
}
.navbar {
    color:black;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}